.home {
    background: url(image/banner.png);
    min-height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Cinzel', serif; 
}
.container a {
    font-size: 20px;
}
.showcase h1 {
    color:  red;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Cinzel', serif;
    text-shadow: 1px 1px 3px #000;
}
.row h2 {
    color: rgb(0, 122, 0);
    font-size: 30px;
    text-shadow: 1px 1px 3px black;
}   
.showcase p {
    font-size: 21px;
    color: rgb(0, 122, 0);
    text-shadow: 1px 1px 2px black;
}
main {
    background: url(image/background.png);
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
main p {
    font-family: 'Cinzel', serif;
    font-size: 21px;
    color: white;
    text-shadow: 2px 2px 4px #000;
}
h1 {
    font-family: 'Niconne', cursive;
    font-size: 45px;
    color: red;
    text-shadow: 1px 1px 3px #000;
    text-align: center;
    line-height: 110%;
    margin: 2rem 0 2rem 0;
}
section.review {
    min-height: 500px;
} 
.carousel.carousel-slider .carousel-item {
    background-color: white;
    width: 85%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    top: 20%;
    left: 0;
}
.carousel p {
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    color: gray;
}
.carousel span {
    font-size: 3vh;
}
#order a:hover {
    background-color: whitesmoke;
	opacity: 0.6;
}
footer {
    background-color: #e42f13;    
}
footer h1 {
        font-family: 'Niconne', cursive;
        font-size: 35px;
        color: white;
        text-shadow: 1px 1px 2px #000;
        text-align: center;
        padding: 0%;
}
footer .cn {
	font-size: 20px;
    color: #d0b95b;
	text-shadow: 1px 1px 3px #000
}
footer .footerlist {
    padding-left: 30%;
}
.footerlist li {
	float:left;
	border-right: 2px solid white;
}
.footerlist a {
	padding:3px 6px;
}   
.footerlist li:last-child {
	border-right-style:none;
}